body {
  margin: 0;
  font-family: 'Georgia', serif;
  background: #0d0d0d;
  color: #f2f2f2;
  text-align: center;
}

.hero {
  padding: 80px 20px;
}

.hero h1 {
  font-size: 3em;
  letter-spacing: 2px;
}

.sub {
  color: #b30059;
}

.texto {
  max-width: 700px;
  margin: auto;
  padding: 40px 20px;
  line-height: 1.8;
}

.segredo button {
  background: #b30059;
  border: none;
  padding: 12px 25px;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

.hidden {
  display: none;
  margin-top: 20px;
  font-size: 1.5em;
}
.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

.galeria img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 0, 100, 0.4);
  transition: transform 0.3s;
}

.galeria img:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
  }
}
